<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time to Solve!</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body style="background-color: lightslategrey;">
    <div id="header" style="width: 1100px; height: 120px; margin:auto; background-color: lightsteelblue; justify-content: center; display: flex; align-items: center;">
        <a href="/"><img src="{{ url_for('static', filename='logo.png') }}" style="height:100px;" alt="Picross Plaza Logo"></a>
    </div>
    <div style="display: flex; background-color: lightsteelblue; height: 50px; width: 1100px; margin:auto; border-top: solid 1px lightslategray; border-bottom: solid 1px lightslategray">
        {% if "username" not in session %}
        <div style="display: flex; padding: 0px 20px; align-items: center; justify-content: center; height: 50px; margin:auto"><h3 style="margin: 0px">You can play as a guest, but an account is needed to create puzzles and save scores!</h3></div>
        <a style="text-decoration: none; color: black" href="/allPuzzles"><div style="display: flex; padding: 0px 20px; margin:auto; align-items: center; justify-content: center; border-right: 1px solid lightslategray; border-left: 1px solid lightslategray; height: 50px"><h2 style="margin: 0px">All Puzzles</h2></div></a>
        <a style="text-decoration: none; color: black" href="/loginPage"><div style="display: flex; padding: 0px 20px; align-items: center; justify-content: center; height: 50px"><h2 style="margin: 0px">Login/Registration</h2></div></a>
        {% else %}
        <div style="display: flex; padding: 0px 20px; align-items: center; justify-content: center; height: 50px; margin:auto"><h2 style="margin: 0px">Welcome, {{session["username"]}}!</h2></div>
        <a style="text-decoration: none; color: black" href="/myPuzzles"><div style="display: flex; padding: 0px 20px; margin:auto; align-items: center; justify-content: center; border-right: 1px solid lightslategray; border-left: 1px solid lightslategray; height: 50px"><h2 style="margin: 0px">My Puzzles</h2></div></a>
        <a style="text-decoration: none; color: black" href="/allPuzzles"><div style="display: flex; padding: 0px 20px; margin:auto; align-items: center; justify-content: center; border-right: 1px solid lightslategray; border-left: 1px solid lightslategray; height: 50px"><h2 style="margin: 0px">All Puzzles</h2></div></a>
        <a style="text-decoration: none; color: black" href="/create5x5"><div style="display: flex; padding: 0px 20px; margin:auto; align-items: center; justify-content: center; border-right: 1px solid lightslategray; height: 50px"><h2 style="margin: 0px">Create Puzzle</h2></div></a>
        <a style="text-decoration: none; color: black" href="/logout"><div style="display: flex; padding: 0px 20px; align-items: center; justify-content: center; height: 50px"><h2 style="margin: 0px">Log out</h2></div></a>
        {% endif %}
    </div>
    <div style="display:flex; justify-content: space-between; width:1000px; padding: 10px 50px 50px; background-color: ghostwhite; margin:auto">
    <div class="main" style="display: flex; align-items: center; flex-direction: column; width:500px;">
        <h1 style="margin-left: 200px;">{{puzzle.name[0]}}</h1>
        <div id="overarching" style="width: 150px; margin-left: 200px;">
            <div id="top" style="display: flex; justify-content: flex-end;">
                {% for first in puzzle.columns %}
                <div class="column" style="display: flex; flex-direction: column; width: 28px; justify-content: flex-end;">
                    {% if first == [0] %}
                        <p style="color:red">0</p>
                    {% endif %}
                    {% for second in first %}
                    {% if second != 0 %}
                    <p onclick="changeText(this)">{{second}}</p>
                    {% endif %}
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
            <div id="bottom" style="display: flex; justify-content: flex-end;">
                <div id="rows" style="display: flex; flex-direction: column;">
                    {% for first in puzzle.rows %}
                    <div class="rows" style="display: flex; justify-content: flex-end;">
                        {% if first == [0] %}
                            <p style="color:red">0</p>
                        {% endif %}
                        {% for second in first %}
                        {% if second != 0 %}
                        <p onclick="changeText(this)">{{second}}</p>
                        {% endif %}
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
                <div style="display: flex; flex-direction: column;">
                    {% if "username" in session %}
                    <form onclick="userCheck(event,'{{puzzle.grid[0]}}', `{{puzzle.id[0]}}`)" id="picross">
                    {% else %}
                    <form onclick="check(event,'{{puzzle.grid[0]}}')" id="picross">
                    {% endif %}
                        <div style="display: flex;">
                            <input type="text" readonly name="1" value="0" style="height:20px; width:20px; background-color: ghostwhite; color: ghostwhite; margin:0" onclick="change(this);" oncontextmenu="markOut(event, this)">
                            <input type="text" readonly name="2" value="0" style="height:20px; width:20px; background-color: ghostwhite; color: ghostwhite; margin:0" onclick="change(this);" oncontextmenu="markOut(event, this)">
                            <input type="text" readonly name="3" value="0" style="height:20px; width:20px; background-color: ghostwhite; color: ghostwhite; margin:0" onclick="change(this);" oncontextmenu="markOut(event, this)">
                            <input type="text" readonly name="4" value="0" style="height:20px; width:20px; background-color: ghostwhite; color: ghostwhite; margin:0" onclick="change(this);" oncontextmenu="markOut(event, this)">
                            <input type="text" readonly name="5" value="0" style="height:20px; width:20px; background-color: ghostwhite; color: ghostwhite; margin:0" onclick="change(this);" oncontextmenu="markOut(event, this)">
                        </div>
                        <div style="display: flex;">
                            <input type="text" readonly name="6" value="0" style="height:20px; width:20px; background-color: ghostwhite; color: ghostwhite; margin:0" onclick="change(this);" oncontextmenu="markOut(event, this)">
                            <input type="text" readonly name="7" value="0" style="height:20px; width:20px; background-color: ghostwhite; color: ghostwhite; margin:0" onclick="change(this);" oncontextmenu="markOut(event, this)">
                            <input type="text" readonly name="8" value="0" style="height:20px; width:20px; background-color: ghostwhite; color: ghostwhite; margin:0" onclick="change(this);" oncontextmenu="markOut(event, this)">
                            <input type="text" readonly name="9" value="0" style="height:20px; width:20px; background-color: ghostwhite; color: ghostwhite; margin:0" onclick="change(this);" oncontextmenu="markOut(event, this)">
                            <input type="text" readonly name="10" value="0" style="height:20px; width:20px; background-color: ghostwhite; color: ghostwhite; margin:0" onclick="change(this);" oncontextmenu="markOut(event, this)">
                        </div>
                        <div style="display: flex;">
                            <input type="text" readonly name="11" value="0" style="height:20px; width:20px; background-color: ghostwhite; color: ghostwhite; margin:0" onclick="change(this);" oncontextmenu="markOut(event, this)">
                            <input type="text" readonly name="12" value="0" style="height:20px; width:20px; background-color: ghostwhite; color: ghostwhite; margin:0" onclick="change(this);" oncontextmenu="markOut(event, this)">
                            <input type="text" readonly name="13" value="0" style="height:20px; width:20px; background-color: ghostwhite; color: ghostwhite; margin:0" onclick="change(this);" oncontextmenu="markOut(event, this)">
                            <input type="text" readonly name="14" value="0" style="height:20px; width:20px; background-color: ghostwhite; color: ghostwhite; margin:0" onclick="change(this);" oncontextmenu="markOut(event, this)">
                            <input type="text" readonly name="15" value="0" style="height:20px; width:20px; background-color: ghostwhite; color: ghostwhite; margin:0" onclick="change(this);" oncontextmenu="markOut(event, this)">
                        </div>
                        <div style="display: flex;">
                            <input type="text" readonly name="16" value="0" style="height:20px; width:20px; background-color: ghostwhite; color: ghostwhite; margin:0" onclick="change(this);" oncontextmenu="markOut(event, this)">
                            <input type="text" readonly name="17" value="0" style="height:20px; width:20px; background-color: ghostwhite; color: ghostwhite; margin:0" onclick="change(this);" oncontextmenu="markOut(event, this)">
                            <input type="text" readonly name="18" value="0" style="height:20px; width:20px; background-color: ghostwhite; color: ghostwhite; margin:0" onclick="change(this);" oncontextmenu="markOut(event, this)">
                            <input type="text" readonly name="19" value="0" style="height:20px; width:20px; background-color: ghostwhite; color: ghostwhite; margin:0" onclick="change(this);" oncontextmenu="markOut(event, this)">
                            <input type="text" readonly name="20" value="0" style="height:20px; width:20px; background-color: ghostwhite; color: ghostwhite; margin:0" onclick="change(this);" oncontextmenu="markOut(event, this)">
                        </div>
                        <div style="display: flex;">
                            <input type="text" readonly name="21" value="0" style="height:20px; width:20px; background-color: ghostwhite; color: ghostwhite; margin:0" onclick="change(this);" oncontextmenu="markOut(event, this)">
                            <input type="text" readonly name="22" value="0" style="height:20px; width:20px; background-color: ghostwhite; color: ghostwhite; margin:0" onclick="change(this);" oncontextmenu="markOut(event, this)">
                            <input type="text" readonly name="23" value="0" style="height:20px; width:20px; background-color: ghostwhite; color: ghostwhite; margin:0" onclick="change(this);" oncontextmenu="markOut(event, this)">
                            <input type="text" readonly name="24" value="0" style="height:20px; width:20px; background-color: ghostwhite; color: ghostwhite; margin:0" onclick="change(this);" oncontextmenu="markOut(event, this)">
                            <input type="text" readonly name="25" value="0" style="height:20px; width:20px; background-color: ghostwhite; color: ghostwhite; margin:0" onclick="change(this);" oncontextmenu="markOut(event, this)">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <p style="margin-left: 200px;"><a href="/">Go back and do more puzzles?</a></p>
    </div>
    <div id="hints" style="width:300px; margin-right: auto;">
        <h2>Helpful tips!</h2>
        <p>You can right-click a cell if you're sure it's meant to be empty.</p>
        <p>Bigger numbers are easier to start with!</p>
        <p>Remember to leave a space between numbers!</p>
    </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>