.column p{
    height:20px;
    margin:0;
    text-align: center;
}

.rows p{
    width:20px;
    margin:0;
    height:25px;
    padding-top:2px;
    text-align: center;
}

.rows {
    align-items: center;
}

#toolbar {
    display: flex;
    background-color: dodgerblue;
    height: 80px;
}